<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Messages</h4>                
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-6">
                        <h5 style="margin-bottom: 15px; margin-top: 20px;">Website Messages</h5>
                         <div *ngFor="let message of webMessages; let i = index">
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <button type="button" aria-hidden="true" (click)="deleteMessage(message)" class="close"><i class="material-icons">delete</i></button>
                            <button *ngIf="message.unread == null" type="button" (click)="messageRead(message)" aria-hidden="true" class="close"><i data-notify="icon" class="material-icons">markunread</i></button>
                            <i *ngIf="message.unread" data-notify="icon" class="material-icons">drafts</i>
                                 <div class="card-content">
                            <div class="row"> 
                                <div class="col-md-4">  
					 	            <p><strong>From:</strong> {{message.personName}}</p>
                                 </div>
                                 <div class="col-md-4">
						            <p><strong>E-mail:</strong> {{message.emailAddress}}</p>
                                </div>
                                <div class="col-md-4" style="margin-right: inherit">
						            <p><strong>Subject:</strong> {{message.subject}}</p>
                                </div>
					        </div>
                            <div class="row">   
					 	        <span data-notify="message"><strong>Messages:</strong> {{message.message}}</span>
					        </div>
                        </div>
                         </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 style="margin-bottom: 15px; margin-top: 20px;">Mobile Messages</h5>
                        <div *ngFor="let message of mobileMessages; let i = index">
                         <div class="alert alert-info alert-with-icon" data-notify="container">
                            <button type="button" aria-hidden="true" (click)="deleteMessage(message)" class="close"><i class="material-icons">delete</i></button>
                            <button *ngIf="message.unread == null" type="button" (click)="messageRead(message)" aria-hidden="true" class="close"><i data-notify="icon" class="material-icons">markunread</i></button>
                            <i *ngIf="message.unread" data-notify="icon" class="material-icons">drafts</i>
                            <span data-notify="message">{{message.name}}</span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
