<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" style="background-color: black" data-background-color="black">
                <img class="fa fa-crosshairs" style="height: 90px; width: 90px" src="../assets/images/drawable-xxxhdpi-icon.png"/>  Dvert              
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-6">
                        <h5 style="margin-bottom: 15px; margin-top: 20px;">Privacy Policy</h5>
                        <div class="alert alert-info alert-with-icon" data-notify="container"> 
					 	    <span data-notify="message"></span>					       
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 style="margin-bottom: 15px; margin-top: 20px;">Terms & Conditions</h5>
                         <div class="alert alert-info alert-with-icon" data-notify="container">
                            <span data-notify="message"></span>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
