   
<div class="agileits_w3layouts_banner_nav">
	
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<h1><img class="fa fa-crosshairs" src="../assets/images/drawable-ldpi-icon.png"/> Dvert</h1>

			</div>
			<ul class="agile_forms">
				<li><a class="active" href="#" data-toggle="modal" data-target="#myModal2"> Sign In</a> </li>
				<li><a href="#" data-toggle="modal" data-target="#myModal3"> Sign Up</a> </li>
			</ul>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav>
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html" class="hvr-underline-from-center">Home</a></li>
						<li><a href="about.html" class="hvr-underline-from-center">About</a></li>
						<li><a href="contact.html" class="hvr-underline-from-center">Contact</a></li>
					</ul>
				</nav>

			</div>
		</nav>

		<div class="clearfix"> </div>
	</div>
  <!-- Modal1 -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">
						<h3 class="agileinfo_sign">Sign In</h3>
						<div class="login-form">
							<form #loginForm="ngForm">
                <div class="form-group">
								  <input class="form-control" type="text" id="loginEmailAddress" name="loginEmailAddress" [(ngModel)]="login.emailAddress" #loginEmailAddress="ngModel" class="form-control" placeholder="E-mail" required >
                  <div *ngIf="loginEmailAddress.errors && (loginEmailAddress.dirty || loginEmailAddress.touched)" class="alert alert-danger">
                    <div [hidden]="!emailAddress.errors.required">
                      The field above is required.
                    </div>
                     <div [hidden]="!loginEmailAddress.errors.pattern">
                        Please enter a valid email!
                      </div>
                  </div>
                </div>   
                 <div class="form-group">             
								<input class="form-control" type="password" name="loginPassword" [(ngModel)]="login.username" placeholder="Password" required id="loginPassword" #loginPassword="ngModel">
                <div *ngIf="loginPassword.errors && (loginPassword.dirty || loginPassword.touched)" class="alert alert-danger">
                    <div [hidden]="!loginPassword.errors.required">
                      The field above is required
                    </div>
                  </div>
                </div>  
                <div class="error-messgae">
                  <small><b>joe@abc.com</b></small>
                </div> 
								<div class="tp">
									<input type="submit" value="Sign In" (click)="signInClick(login)">
								</div>
							</form>
						</div>
						<div class="login-social-grids">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
						<p><a href="#" data-toggle="modal" data-target="#myModal3"> Don't have an account?</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->
	<!-- Modal2 -->
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">
						<h3 class="agileinfo_sign">Sign Up</h3>
						<div class="login-form">
							<form action="#" method="post">
								  <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">E-mail Address</label> <br> 
                                        <input style="width: inherit; background-color: white; border-top-width: inherit; border-left-width: inherit; border-right-width: inherit;" type="text" class="input-clare" formControlName="businessEmail"/>   
                                        <div class="stats text-danger" [hidden]="!businessEmailRequired">
                                            <small>The field above is required</small>
                                        </div>     
										<div class="stats text-danger" [hidden]="!businessEmailInvaild">
                                            <small>invalid email address format</small>											
                                        </div>                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Business Name</label> <br> 
                                        <input style="width: inherit; background-color: white; border-top-width: inherit; border-left-width: inherit; border-right-width: inherit;" type="text" class="input-clare" formControlName="businessName"/>   
                                        <div class="stats text-danger" [hidden]="!businessNameRequired">
                                            <small>The field above is required</small>
                                        </div>                             
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Business Website</label> <br> 
                                        <input style="width: inherit; background-color: white; border-top-width: inherit; border-left-width: inherit; border-right-width: inherit;" type="text" class="input-clare" formControlName="businessWebsite"/>   
                                        <div class="stats text-danger" [hidden]="!businessWebsiteRequired">
                                            <small>The field above is required</small>
                                        </div>                             
                                    </div>
                                </div>
								 <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Password</label> <br> 
                                        <input style="width: inherit; background-color: white; border-top-width: inherit; border-left-width: inherit; border-right-width: inherit;" type="password" class="input-clare" formControlName="businessPassword"/>   
                                        <div class="stats text-danger" [hidden]="!businessWebsiteRequired">
                                            <small>The field above is required</small>
                                        </div>       
										<div class="stats text-danger" [hidden]="!passwordRequirements">
                                            <small>password does not meet minimum requirements <li style="list-style-type: none;" class="dropdown">
												<a class="dropdown-toggle" style="float: right; margin-top: -20px" data-toggle="dropdown">view</a>
												 <ul class="dropdown-menu">
													<li>Be at least 8 characters in length.</li>
													<li>Contain at least 1 lowercase and 1 uppercase letter.</li>
													<li>Contain at least 1 special character (!@#$%^&*).</li>
													<li>Contain at least 1 number (0–9).</li>
												 </ul>
											</li></small>
											
                                        </div>                      
                                    </div>
                                </div>
								 <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">Confirm Password</label> <br> 
                                        <input style="width: inherit; background-color: white; border-top-width: inherit; border-left-width: inherit; border-right-width: inherit;" type="password" class="input-clare" formControlName="confirmPassword"/>   
                                        <div class="stats text-danger" [hidden]="!confirmPasswordRequired">
                                            <small>The field above is required</small>
                                        </div> 
										<div class="stats text-danger" [hidden]="!passwordsDoNotMatch">
                                            <small>passwords supplied do not match</small>											
                                        </div>                             
                                    </div>
                                </div>
								<button type="submit" style="width: 100%" class="btn btn-success pull-center" (click)="ignUp()">Sign Up</button>
							</form>
						</div>
						<p><a href="privacyPoliciesAndTermsConditions"> By clicking register, I agree to your terms</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal2 -->
	<div class="banner">


		<div class="wrapper">

			<ul id="sb-slider" class="sb-slider">
				<li>
					<a href="#"><img src="../assets/images/banner1.jpg" alt="image1"/></a>
					<div class="sb-description">
						<h3>Creative Lifesaver</h3>
					</div>
				</li>
				<li>
					<a href="#"><img src="../assets/images/banner2.jpg" alt="image2"/></a>
					<div class="sb-description">
						<h3>Honest Entertainer</h3>
					</div>
				</li>
				<li>
					<a href="#"><img src="../assets/images/banner3.jpg" alt="image1"/></a>
					<div class="sb-description">
						<h3>Brave Astronaut</h3>
					</div>
				</li>
				<li>
					<a href="#"><img src="../assets/images/banner4.jpg" alt="image1"/></a>
					<div class="sb-description">
						<h3>Affectionate Decision Maker</h3>
					</div>
				</li>

			</ul>

			<div id="shadow" class="shadow"></div>

			<div id="nav-arrows" class="nav-arrows">
				<a href="#">Next</a>
				<a href="#">Previous</a>
			</div>

			<div id="nav-dots" class="nav-dots">
				<span class="nav-dot-current"></span>
				<span></span>
				<span></span>
				<span></span>

			</div>
		</div>
		<!-- /wrapper -->
	</div>

  <!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="mid_agile_bannner_top_info">
				<h2>Let’s made Your own Business</h2>
				<div class="heading-underline">
					<div class="h-u1"></div>
					<div class="h-u2"></div>
					<div class="h-u3"></div>
					<div class="clearfix"></div>
				</div>
				<p>Lorem ipsum dolor sit amet, Lorem ipsum Lorem ipsum.Integer varius est vitae iaculis suscipit. Integer sed rutrum lectus.</p>
			</div>
			<div class="col-md-6 agileits_banner_bottom_left">
				<h3>welcome to <span>Treasurer</span></h3>
				<p class="w3l_para">Curabitur nec purus eget urna pulvinar placerat. Integer varius est vitae iaculis suscipit. Integer sed rutrum lectus.</p>
				<div class="w3l_social_icons">
					<div class="w3l_social_icon_grid">
						<div class="w3l_social_icon_gridl w3_facebook">
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</div>
						<div class="w3l_social_icon_gridr">
							<p class="counter">23,536</p>
						</div>
						<div class="clearfix"> </div>
						<div class="w3l_social_icon_grid_pos">
							<label>-</label>
						</div>
					</div>
					<div class="w3l_social_icon_grid w3ls_social_icon_grid">
						<div class="w3l_social_icon_gridl w3_dribbble">
							<a href="#">
								<i class="fa fa-dribbble" aria-hidden="true"></i>
							</a>
						</div>
						<div class="w3l_social_icon_gridr">
							<p class="counter">13,676</p>
						</div>
						<div class="clearfix"> </div>
						<div class="w3l_social_icon_grid_pos">
							<label>-</label>
						</div>
					</div>
					<div class="w3l_social_icon_grid">
						<div class="w3l_social_icon_gridl w3_instagram">
							<a href="#">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</div>
						<div class="w3l_social_icon_gridr">
							<p class="counter">45,342</p>
						</div>
						<div class="clearfix"> </div>
						<div class="w3l_social_icon_grid_pos">
							<label>-</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 agileits_banner_bottom_right">
				<div class="w3ls_banner_bottom_right">
					<img src="images/2.jpg" alt=" " class="img-responsive" />
					<div class="w3ls_banner_bottom_right_pos">
						<img src="images/1.jpg" alt=" " class="img-responsive" />
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //banner-bottom -->

  <!-- footer -->
	<div class="footer">
		<div class="container">
      <div class="services">
        <div class="container">
			<div class="w3_agile_footer_grids">
        <h3 class="tittle_agile_w3">Send Us Message</h3>
		    <div class="heading-underline">
				<div class="h-u1"></div><div class="h-u2"></div><div class="h-u3"></div><div class="clearfix"></div>
			</div>
			<div class="agileinfo_mail_grids">
				<form [formGroup]="contactUsForm" style=" text-align: center;">
					<div class="row">   
					 	<div class="col-md-6">
                      		<label class="control-label">Name</label><br> 
							<input class="input-clare"  style="background-color: black !important; width: 100%;text-align: center;" (ngModel)="message.personName" formControlName="personName" name="personName" type="text" required="" />
						</div>
						<div class="col-md-6">
                      		<label class="control-label">Email</label><br> 
							<input class="input-clare" style="background-color: black !important; width: 100%;text-align: center;" (ngModel)="message.emailAddress" formControlName="emailAddress" name="emailAddress" type="email" required/>
						</div>
					</div>
					<div class="row">   
					 	<div class="col-md-6">
                      		<label class="control-label">Subject</label><br> 
							<input class="input-clare" style="background-color: black !important; width: 100%;text-align: center;" (ngModel)="message.subject" formControlName="subject" name="subject" type="text" required/>
						</div>
					</div>
					<textarea style="color: lightgray;font-size: medium;"  formControlName="message" name="message" (ngModel)="message.message" placeholder="Your comment here..." required></textarea>
					<input type="submit" value="Submit" (click)="sendMessage(message)" >
					<p *ngIf="messageSent">{{this.contactUsMessage}}</p>
				</form>
			</div>
			</div>
      </div>
		</div>
			<div class="w3ls_address_mail_footer_grids">
				<!--	<div class="col-md-4 w3ls_footer_grid_left">
					<div class="wthree_footer_grid_left">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
					</div>
					<p>3481 Melrose Place, Beverly Hills, <span>New York City 90210.</span></p>
				</div>-->
				<div class="col-md-4 w3ls_footer_grid_left">
					<div class="wthree_footer_grid_left">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</div>
					<p>073 169 7774 <span>061 123 0358</span></p>
				</div>
				<div class="col-md-4 w3ls_footer_grid_left">
					<div class="wthree_footer_grid_left">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
					</div>
					<p><a href="mailto:dvert2530@gmail.com">dvert2530@gmail.com</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agileinfo_copyright">
				<p>© 2017 Dvert. All Rights Reserved</p>
			</div>
		</div>
	</div>
	<!-- //footer -->

    <!-- js -->
	<script type="text/javascript" src="../assets/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../assets/js/modernizr.custom.46884.js"></script>
	<!-- password-script -->
	<!--<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>-->
	<!-- //password-script -->

	<!-- //js -->
	<script src="../assets/js/bars.js"></script>

	<script type="text/javascript" src="../assets/js/jquery.slicebox.js"></script>
	<script type="text/javascript">
		$(function () {

			var Page = (function () {

				var $navArrows = $('#nav-arrows').hide(),
					$navDots = $('#nav-dots').hide(),
					$nav = $navDots.children('span'),
					$shadow = $('#shadow').hide(),
					slicebox = $('#sb-slider').slicebox({
						onReady: function () {

							$navArrows.show();
							$navDots.show();
							$shadow.show();

						},
						onBeforeChange: function (pos) {

							$nav.removeClass('nav-dot-current');
							$nav.eq(pos).addClass('nav-dot-current');

						}
					}),

					init = function () {

						initEvents();

					},
					initEvents = function () {

						// add navigation events
						$navArrows.children(':first').on('click', function () {

							slicebox.next();
							return false;

						});

						$navArrows.children(':last').on('click', function () {

							slicebox.previous();
							return false;

						});

						$nav.each(function (i) {

							$(this).on('click', function (event) {

								var $dot = $(this);

								if (!slicebox.isActive()) {

									$nav.removeClass('nav-dot-current');
									$dot.addClass('nav-dot-current');

								}

								slicebox.jump(i + 1);
								return false;

							});

						});

					};

				return {
					init: init
				};

			})();

			Page.init();

		});
	</script>
	<!-- Stats -->
	<script src="../assets/js/waypoints.min.js"></script>
	<script src="../assets/js/counterup.min.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$('.counter').counterUp({
				delay: 10,
				time: 2000
			});
		});
	</script>
	<!-- //Stats -->

	<script type="text/javascript" src="../assets/js/jquery.flexisel.js"></script>
	<!-- flexisel -->
	<script type="text/javascript">
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 2
					}
				}
			});

		});
	</script>
	<!-- //flexisel -->
	<!-- //flexisel -->
	<!-- js for portfolio lightbox -->
	<script src="../assets/js/jquery.chocolat.js "></script>
	<!-- //menu -->
	<!-- for bootstrap working -->
	<script src="../assets/js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="../assets/js/move-top.js"></script>
	<script type="text/javascript" src="../assets/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->

    